**/node_modules
**/.git
**/.gitignore
**/dist
**/.env
**/.env.*
**/coverage
**/.nyc_output
**/logs
**/tmp
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.idea
**/.vscode
**/*.swp
**/*.swo
**/Thumbs.db
**/.DS_Store
**/offline-deploy-openEuler
**/.claude
**/e2e/.auth
